<!doctype html>
<html>
    <head>
        {% if title %}
        <title>{{ title }} - Near Cloud</title>
        {% else %}
        <title>Welcome to Near Cloud</title>
        {% endif %}
        <script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='js.cookie.min.js') }}"></script>
        <script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='socket.io.min.js') }}"></script>
        <script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
        <script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='image.js') }}"></script>
        <script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='paho-mqtt.js') }}"></script>
        <script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='app.js') }}"></script>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        {% if header %}
        <h1>{{ header }} - Near Cloud</h1>
        {% else %}
        <h1>Welcome to Near Cloud</h1>
        {% endif %}
        <div class="container">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>
                    <p id="flash">{{ message }}</p>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
