{% extends "base.html" %}

{% block content %}
<div class=page>
    <h1>Hello World!</h1>
    <p id='test'>Hello</p>
    MQTT message received:<p id='mqtt'>MQTT MESSAGES</p>
    <button id="alertbutton">Alert message</button><br>
    <button id="jsonbutton">JSON message</button><br>
    <button id="subscribe">Subscribe to hello/world</button><br>
    <button id="unsubscribe">Unsubscribe to hello/world</button><br>
    <br>
    <button id="deleteDB">Clear DB</button><br>
    <button id="query">Query nodes</button><br>
    <button id="startMaster">Start training and validation</button><br>
    <br>
    <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
        Select a file: <input type="file" name="upload" />
        <input type="submit" value="UPLOAD"/>
    </form>

</div>
{% endblock %}
