{% extends "base.html" %}

{% block content %}
<div class=page>
    <p id='test'></p>
    <p id='mqtt'>MQTT MESSAGES</p>
    <pre id="masterConfig"></pre>

<!--     <button id="alertbutton">Alert message</button><br>
    <button id="jsonbutton">JSON message</button><br>
    <button id="subscribe">Subscribe to hello/world</button><br>
    <button id="unsubscribe">Unsubscribe to hello/world</button><br>
 -->    <br>
    <button id="deleteDB">Clear DB</button>
    <button id="query">Query nodes</button>
    <button id="startMaster">Start training and validation</button>

<section class="container">
  <div class="left-half">
    <article>
      <h1>Nodes Status</h1>
      <p id="left">
      </p>
    </article>
  </div>
  <div class="right-half">
    <article>
      <h1>Recipe Upload</h1>
      <p>
        Only enter the key-val pairs you wish to change ie.
        Never change nodename for slaves.
      </p>
        <button id="getMasterConfig">Get's master config file</button><br>
        <form action="{{ url_for('update_configs') }}" method="post">
            <textarea name="text" rows="10" cols="50"></textarea><br>
            <input value="Send to Master" name="toMaster" type="submit">
            <input value="Send to Slaves" name="toSlaves" type="submit">
        </form>

        <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
            Select a file: <input type="file" name="upload" />
            <input type="submit" value="UPLOAD"/>
        </form>
        <h1>Training Status</h1>
        <!-- <img src="{{ url_for('fig') }}" alt="Image Placeholder" class="graph"> -->
        <img id="graph">
    </article>
  </div>
</section>

</div>
{% endblock %}
