{% extends "base.html" %}

{% block content %}
<div class=page>
    <h1>Hello World!</h1>
    <p id='test'>Hello</p>
    MQTT message received:<p id='mqtt'>MQTT MESSAGES</p>
    <button id="alertbutton">Alert message</button><br>
    <button id="jsonbutton">JSON message</button><br>
    <button id="subscribe">Subscribe to hello/world</button><br>
    <button id="unsubscribe">Unsubscribe to hello/world</button><br>
    <br>
    <button id="deleteDB">Clear DB</button><br>
    <button id="query">Query nodes</button><br>
    <button id="startMaster">Start training and validation</button><br>
    <br>
    <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
        Select a file: <input type="file" name="upload" />
        <input type="submit" value="UPLOAD"/>
    </form>
    <table width=100%, height=100%>
        <tr>
            <td width=50% id="left">
                Page 1
            </td>
            <td width=50% id="right">
                Only enter the key-val pairs you wish to change ie.<br>
                Never change nodename for slaves.<br>
                <p id="masterConfig"></p>
                <button id="getMasterConfig">Get's master config file</button><br>
                <form action="{{ url_for('update_configs') }}" method="post">
                    <textarea name="text" rows="10" cols="50"></textarea><br>
                    <input value="Send to Master" name="toMaster" type="submit">
                    <input value="Send to Slaves" name="toSlaves" type="submit">
                </form>
            </td>
        </tr>
    </table>

</div>
{% endblock %}
